

.Nname{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
 }
.navbar{
    background: #2c3e50;
}
.navbar-nav{

margin: 0;
padding: 0;
text-align: center;


}

.nav-item{
    
    margin: 0 20px;
    display: inline;


}
.nav-link{
    position: relative;
    font-family: 'Poppins',sans-serif;
    color: #636161;
    font-size: 18px;
    letter-spacing: 0.5px;
    text-transform: uppercase;

}
.active{
    background: #ffffff;
}


.nav-link:hover{
    background: #ffffff;
    color: #000000;
}

.clock{
    margin-left: 25%;
}
.aboutME {

    background: #588ec4;

    
}
.picView{
  
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.3);
}

.theForm{
    background: #588ec4 ;
}

